%h1= Task.model_name.human(:count => 2)

= simple_search_form_for @ransack, @ransack_params do |f|
  = f.input :name_cont
  = f.input :finished_eq, :as => :select, :collection => {"Finished" => "1", "Not finished" => ""}
  = f.submit

- @tasks.each do |task|
  = link_to task.name, task_path(task)
